.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}


footer {
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    margin-bottom: 8px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;/*1 le dice que use el ancho exacto a definir, si uso dos lo duplica, etc*/
    margin-top: 10px;
    
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon {
    padding-right: 10px;
}

.max-img{
    max-height: 300px;
    max-width: 300px;
}

.img-header{
    border: solid;
    border-radius: 4em;
    max-height: 200px;
    max-width: 200px;
}

.tab-content {
    padding-top: 10px;
}

.carousel-image{
    max-width: 800px;
    max-height: 600px; 
}