$rojo: #e91717;
$amarillo: #b4b21c;
$verde: #08632c;

@mixin margenes($top, $bottom, $color, $paddingLeft, $paddingUp, $paddingRight, $paddingButton){
  margin-top: $top;
  margin-bottom: $bottom;
  background-color: $color;
  padding-left: $paddingLeft $paddingUp $paddingRight $paddingButton;
}

.jumbotron {
  //background-color: $amarillo;
  //color: black;
  //margin-top: 50px;
  //margin-bottom: 0px;
  @include margenes(50px, 0px, $amarillo, 0px, 0px, 0px, 0px);
}

footer {
  //padding: 10px 10px 0px 10px;
  //background-color: $amarillo;
  color: $rojo;
  //margin-bottom: 8px;
  //margin-top: 10px;
  @include margenes(10px, 10px, $verde, 10px, 10px, 0px, 10px);
}

.card-hotel {
  flex: 1 200px;
  /*1 le dice que use el ancho exacto a definir, si uso dos lo duplica, etc*/
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-addres-icon {
  padding-right: 10px;
}

.max-img {
  max-height: 300px;
  max-width: 300px;
}

.img-header {
  border: solid;
  border-radius: 4em;
  max-height: 200px;
  max-width: 200px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */

/*# sourceMappingURL=styles.scss.map */
