.jumbotron {
  background-color: #efeeb8;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #efeeb8;
  margin-top: 10px;
  margin-bottom: 8px;
}
.card-hotel {
  flex: 1 200px;
  /*1 le dice que use el ancho exacto a definir, si uso dos lo duplica, etc*/
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-addres-icon {
  padding-right: 10px;
}
.max-img {
  max-height: 300px;
  max-width: 300px;
}
.img-header {
  border: solid;
  border-radius: 4em;
  max-height: 200px;
  max-width: 200px;
}
.tab-content {
  padding-top: 10px;
}
